.contact {
    background-color: #f0f0f8;
    padding: 50px 0px;
}

.contact-title {
    text-align: center;
    padding-bottom: 50px;
}


.contact-content {
    display: flex;
}

.contact-left, .contact-right {
    width: 50%;
}

.contact-left {
    margin: 0px 10px;
}
.contact-right {
    text-align: center;
}

.fa-solid, .fas {
    background-color: #fff;
    font-weight: 900;
    width: 46px;
    padding: 15px;
    border-radius: 10px;
    margin-right: 10px;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
}

.form-row1, .form-row2, .form-row3{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-row1 input, .form-row2 input, textarea,.form-row button{
    margin: 0px 10px;
    margin-bottom: 15px;
}

.contact-icons {
    padding-top: 7px;
}
.contact-icons p {
    color: #000;
}
.contact-icons p .fas {
    color: gray;
}

.form-row input, .form-row textarea {
    width: 100%;
    border: none;
    border-radius: 7px;
    padding: 10px;

}

.contact-right form {
    padding-top: 10px;
}

textarea {
    height: 140px;
} 
.form-row button {
    border: none;
    border-radius: 7px;
    padding: 10px;
    background-color: #fff;
}

.map {
    padding: 100px 0px;
}

@media (max-width: 960px) {
    .contact-content {
        flex-direction: column;
    }
    .contact-left, .contact-right {
        width: 100%;
    }
}