
.header {
    position: sticky;
    top: 0;
    background-color: #f0f0f8;
}
.header .container {
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;

}


.header img {
    height: 40px;
}

.header ul {
    width: 80%;
    display: flex;
    justify-content: flex-end;
}



.header a {
    padding: 7px;
    color: gray;
    font-size: 18px;
}

@media (max-width: 960px) {
    .header ul li{
      display: none;
    }

    .header img {
      width: 80%;
  }
}